<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.hello-world"
        version   = "2.0.0">
    <name>Prototyp</name>

    <description>
       Topmodel Prototyp.
    </description>

    <author href="http://schalk-and-friends.de" email="info@schalk-and-friends.de">
        PhoneGap Team
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.1.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

    <icon src="images/icon.png" />
    <gap:splash src="images/front.png"/> 
    <preference name="autorotate" value="false" readonly="true"/> 
	<preference name="phonegap-version" value="2.2.0" />
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="true" />
	<preference name="ios-statusbarstyle" value="black-opaque" />

</widget>