<?xml version="1.0" encoding="UTF-8"?> 
<widget xmlns	 = "http://www.w3.org/ns/widgets" 
xmlns:gap	= "http://phonegap.com/ns/1.0" 
version = "1.0.1"> 

<name>TOPModel ProtoTyp</name> 

<description> 
Prototyp
</description> 

<author href="http://www.schalk-and-friends.de" 
email="info@schalk-and-friends.de"> 
schalk&friends
</author> 

<gap:platforms> 
<gap:platform name="android" minVersion="2.2" /> 
<gap:platform name="ios" /> 
</gap:platforms> 

<icon src="icon.png" gap:role="default" /> 

<gap:splash src="images/front.png"/> 

<!-- sample preference specification --> 
<preference name="autorotate" value="false" readonly="true"/> 
<preference name="phonegap-version" value="2.2.0" />
<preference name="orientation" value="portrait" />
<preference name="fullscreen" value="true" />
<preference name="webviewbounce" value="true" />
<preference name="ios-statusbarstyle" value="black-opaque" />
</widget>